menu "ESP32 NES Emulator"

config LCD_USE_FAST_PINS
   bool "Use fast SPI pins"
   default "n"
   help
      When enabled LCD pins are:
          MISO 19
          MOSI 23
          CLK  18
          CS   5
          DC   21
          RST  22
          BCKL 25

      When disabled (default) LCD pins are:
          MISO 25
          MOSI 23
          CLK  19
          CS   22
          DC   21
          RST  18
          BCKL 5

config LCD_SPI_FULL_SPEED
   bool "Run LCD SPI at 80MHz 60FPS"
   default "n"
   help
      When enabled LCD is able to keep up with the emulator at full 60 frames per second


endmenu
