#
# Serial flasher config
#
CONFIG_ESPTOOLPY_PORT="/dev/ttyUSB1"
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# Nofrendo ESP32-specific configuration
#
CONFIG_HW_WROVERKIT_V2=y
CONFIG_HW_LCD_TYPE_ILI=y
CONFIG_HW_WROVERKIT=y
CONFIG_HW_LCD_TYPE=0
CONFIG_HW_INV_BL=y
CONFIG_HW_LCD_MISO_GPIO=25
CONFIG_HW_LCD_MOSI_GPIO=23
CONFIG_HW_LCD_CLK_GPIO=19
CONFIG_HW_LCD_CS_GPIO=22
CONFIG_HW_LCD_DC_GPIO=21
CONFIG_HW_LCD_RESET_GPIO=18
CONFIG_HW_LCD_BL_GPIO=5
CONFIG_SOUND_ENA=n
CONFIG_HW_PSX_ENA=y
CONFIG_HW_PSX_CLK=14
CONFIG_HW_PSX_DAT=27
CONFIG_HW_PSX_ATT=16
CONFIG_HW_PSX_CMD=2

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

#
# ESP32-specific
#
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_MEMMAP_SMP=y
CONFIG_ESP32_DEEP_SLEEP_WAKEUP_DELAY=0
CONFIG_ESP32_XTAL_FREQ_AUTO=y
CONFIG_ESP32_XTAL_FREQ=0

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=3
